<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/base.css">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="stylesheets/navbar.css">
</head>

<body>
  <!-- Include the navbar -->
  <%- include('./partials/navbar', {username: username, userId: userId}) %>

    <section>
      <div class="container">
        <h1>
          <%= title %>
        </h1>
        <p>Welcome to <%= title %>
        </p>
        <a href="/hotels" class="col btn btn-primary">
          Find a hotel</a>
      </div>
    </section>
</body>

</html>